#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$lgvK.r.j6.dTx34o$clYNQtkeNUQHLx7RI.so81dJ.Uup9jJRanAzWnFCZAGjObgc6ra.cWgFrGBzk5ETA98YaG5TDytcIC.i/ya4M1
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --name=gkalyani --password=$6$0d8FhbJlaaS.2nyR$tSs/zA7W6vHycNX.ko.G/yPav1YI0eLi3LfRyAcHKMNrYqbqcJ6i1PV8xNFhUQceaW.FqGHrc4dhrjmPrt88A. --iscrypted --gecos="ganta kalyani"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
